<!DOCTYPE html>
<html>
<head>
	<title>易订宝</title>
	<meta charset="utf-8"/>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/ad.js"></script>
</head>
<body>
<div class="global">
	<% include nav %>
	<% include searchColumn %>
	<div class="main">
		
		<div class="myOrder">


			<table class="orderBudget">
				<tr>
					<td>数量统计</td>
					<td>已订：<%=userInfo[0]['OrderStyleNumber'] %>款</td>
					<td>最高订款量：<%=maxUserInfo[0]['maxOrderStyleNumber'] %>款</td>
					<td>总款量：款</td>
				</tr>
				<tr>
					<td>订数统计</td>
					<td>已订：<%=userInfo[0]['OrderProductNumber'] %>件</td>
					<td>最高订量：<%=maxUserInfo[0]['maxOrderProductNumber'] %>件</td>
					<td></td>
				</tr>
				<tr>
					<td>金额统计</td>
					<td>已订：￥<%=(Number(userInfo[0]['OrderAmount'])/10000).toFixed(4) %>万</td>
					<td>最高金额：￥<%=(Number(maxUserInfo[0]['maxOrderAmount'])/10000).toFixed(4) %>万</td>				
					<td>完成率：%</td>
				</tr>
				<tr>
					<td>SKU分析</td>
					<td>SKU=<%=MSKU[0]['MSKU'] %></td>
					<td>宽度=<%=MSKU[0]['MSKU'] %>/<%=SKU[0]['SKU'] %>=<%=Math.round(MSKU[0]['MSKU']/SKU[0]['SKU'] * 100) %>%</td>
					<td>深度=<%=maxUserInfo[0]['maxOrderProductNumber'] %>/<%=MSKU[0]['MSKU'] %>=<%=Math.round(maxUserInfo[0]['maxOrderProductNumber']/MSKU[0]['MSKU'] ) %></td>
					
				</tr>
			</table>
			<table class="orderBudget">
			<% var tempOrders = [];
				var j = -1;
				for(var i = 0 ; i < orders.length;i++)
				{
					if(i>0 && orders[i]['ProductId'] == orders[i-1]['ProductId'])
					{
						//console.log(tempOrders);
						tempOrders[j]['Color'] += "\n"+orders[i]['Color'];
						tempOrders[j]['UserOrderDetails'] += "\n"+orders[i]['UserOrderDetails'];
						tempOrders[j]['SKU'] ++;
					}
					else
					{
						tempOrders.push(orders[i]);
						tempOrders[++j]['SKU'] = 1;
						//console.log(tempOrders);
					}
				}
				%>
				<tr>
					<td class="tdTextCenter">排名</td>
					<td class="tdTextCenter">货号</td>
					<td class="tdTextCenter">品类<br> <%=tempOrders.length %>款</td>
					<td class="tdTextCenter">订数<br> <%=userInfo[0]['OrderProductNumber'] %>件</td>
					<td class="tdTextCenter">价格</td>
					<td class="tdTextCenter">金额<br>￥ <%=(Number(userInfo[0]['OrderAmount'])/10000).toFixed(4) %>万</td>
					<td class="tdTextCenter">颜色</td>
					<td class="tdTextCenter">订货详情</td>
					<td class="tdTextCenter">SKU</td>
				</tr>
				<% for(var i = 0;i<tempOrders.length;i++)
				{
					
					var no = tempOrders[i]['id'];
					var productCode = tempOrders[i]['ProductCode'];
					var style = tempOrders[i]['ProductClass'];
					var orderNum = tempOrders[i]['UserOrderNumber'];
					var price = tempOrders[i]['ProductPrice'];
					var userOrderAmount = tempOrders[i]['UserOrderAmount'];
					var color = tempOrders[i]['Color'];
					var details = tempOrders[i]['UserOrderDetails'];
					var SKU = tempOrders[i]['SKU'];
				%>
				<tr>
					
					<td class="tdTextCenter"><%=i+1 %></td>
					<td class="tdTextCenter"><%=productCode %></td>
					<td class="tdTextCenter"><%=style %></td>
					<td class="tdTextCenter"><%=orderNum %></td>
					<td class="tdTextCenter"><%=price %></td>
					<td class="tdTextCenter"><%=userOrderAmount %></td>
					<td class="tdTextCenter"><%=color %></td>
					<td class="tdTextCenter "><%=details %></td>
					<td class="tdTextCenter "><%=SKU %></td>
					
				</tr>
				<% }%>
				
			</table>
		</div>
		<% include menu %>
	</div>
</div>

</body>
</html>
