<!DOCTYPE html>
<html>
<head>
	<title>易订宝</title>
	<meta charset="utf-8"/>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript" src="/javascripts/main.js" ></script>
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/ad.js"></script>
	<script type="text/javascript" src="/javascripts/echarts/build/dist/echarts.js"></script>
</head>
<body>
<div class="global">
	<% include nav %>
	<% include menu %>
	<% include searchColumn %>
	<div class="main">
		<div id="main" style="height:400px;width:800px;"></div>

	    

		<div class="orderBudget">
			<div class="budgetLeft">
				
					<div class="budgetItem bgLightblue">项目内容</div>
					<div class="budgetItem bgLightblue"><a href="orderAnalyzing?budgetType=SerialOrderBudget">主题分析</a></div>
					<div class="budgetItem bgLightblue"><a href="orderAnalyzing?budgetType=MucaiOrderBudget">波段分析</a></div>
					<div class="budgetItem bgLightblue"><a href="orderAnalyzing?budgetType=TypeOrderBudget">款别分析</a></div>
					<div class="budgetItem bgLightblue"><a href="orderAnalyzing?budgetType=ClassOrderBudget">品类分析</a></div>
					<div class="budgetItem bgLightblue"><a href="orderAnalyzing?budgetType=PricezoneOrderBudget">价格带分析</a></div>

			</div>
			<div class="budgetRight">
			<table class="orderBudget">
				

				<tr>
					
					<td class="tdTextCenter bgLightblue">名称</td>
					<td class="tdTextCenter bgLightblue">订款量/占比</td>
					<td class="tdTextCenter bgLightblue">SKU/占比</td>
					<td class="tdTextCenter bgLightblue">订数量/占比</td>
					<td class="tdTextCenter bgLightblue">金额/占比</td>
					<td class="tdTextCenter bgLightblue">公司指引</td>
					<td class="tdTextCenter bgLightblue">自定义预算</td>
				</tr>
				<% var guidType = "SerialOrderGuide";
				switch(budgetType)
				{
					case 'SerialOrderBudget':
						guidType = "SerialOrderGuide";
						break;
					case 'TypeOrderBudget':
						guidType = "TypeOrderGuide";
						break;
					case 'ClassOrderBudget':
						guidType = "ClassOrderGuide";
						break;
					case 'MucaiOrderBudget':
						guidType = "MucaiOrderGuide";
						break;
					case 'PricezoneOrderBudget':
						guidType = "PricezoneOrderGuide";
						break;
				}
				var ordersRowType = 'Product'+guidType.substr(0,guidType.length-10);
				if(guidType.substr(0,guidType.length-10) == "Pricezone")
					ordersRowType = "PriceZone";
				else if(guidType.substr(0,guidType.length-10) == "Mucai")
					ordersRowType = guidType.substr(0,guidType.length-10);
				
				var budget = userInfo[0][budgetType].split(',');
				var guide = guideInfo[0][guidType].split(',');

				budget.typeNum = 0;
				budget.SKU = 0;
				budget.num = 0;
				budget.amount = 0;
				
				for(var i = 0;i<budget.length;i++)
				{
					budget[i] = budget[i].split(':');
					budget[i].typeNum = 0;
					budget[i].SKU = 0;
					budget[i].num = 0;
					budget[i].amount = 0;
					console.log(budget[i][0]+"   "+orders[0][ordersRowType]);
					var tempOrders = [];
					for(var j = 0;j<orders.length;j++)
					{
						if(budget[i][0] == orders[j][ordersRowType])
						{
							
							budget[i].SKU ++;
							budget[i].num += orders[j]["UserOrderNumber"];
							budget[i].amount += orders[j]["UserOrderAmount"];

							var flag = 0;
							for(var k = 0;k<tempOrders.length;k++)
							{
								if(orders[j]['ProductId'] == tempOrders[k]['ProductId'])
								{
									flag = 1;
									break;
								}
							}
							if(flag == 0)
							{
								tempOrders.push(orders[j]);
								budget[i].typeNum ++;
							}
						}
						
							
					}
					
					


					budget.typeNum += budget[i].typeNum;
					budget.SKU += budget[i].SKU;
					budget.num += budget[i].num;
					budget.amount += budget[i].amount;
				}

				for(var i = 0;i<budget.length;i++)
				{
					
					var curBudgetPercent = budget[i][1];
					budget[i][1] =  budget[i][1].substr(0,budget[i][1].length-1);
					
					var curBudget = Math.round(Number(budget[i][1])/100 * userInfo[0]['BudgetAmount']);
					var curName = budget[i][0];
					var curGuidePercent = "";
					var curGuide = "";
					var curSKU = budget[i].SKU;
					var curSKUPercent = (curSKU/budget.SKU*100).toFixed(1);
					var curNum = budget[i].num;
					var curNumPercent = (curNum/budget.num*100).toFixed(1);
					var curTypeNum = budget[i].typeNum;
					var curTypeNumPercent = (curTypeNum/budget.typeNum*100).toFixed(1);
					var curAmount = budget[i].amount.toFixed(4)/10000;
					var curAmountPercent = (budget[i].amount/budget.amount*100).toFixed(1);
					for(var j = 0;j<guide.length;j++)
					{
						if(guide[j].split(':')[0] == budget[i][0] )
						{
							curGuidePercent = guide[j].split(':')[1];
							curGuide = Math.round(Number(curGuidePercent.substr(0,curGuidePercent.length-1))/100 * userInfo[0]['GuideAmount']);
							break;
						}
					}
					
					
				%>
				<tr>
					
					<td class="tdTextCenter border bgLightblue"><span id="name<%=i %>"><%=curName %></span></td>
					<td class="tdTextCenter border"><%=curTypeNum %>/<%=curTypeNumPercent %>%</td>
					<td class="tdTextCenter border bgLightblue"><%=curSKU %>/<%=curSKUPercent %>%</td>
					<td class="tdTextCenter border"><%=curNum %>/<%=curNumPercent %>%</td>
					<td class="tdTextCenter border bgLightblue"><span id="amount<%=i %>"><%=curAmount %></span>万/<%=curAmountPercent %>%</td>
					<td class="tdTextCenter border"><span id="guide<%=i %>"><%=curGuide %></span>万/<%=curGuidePercent %></td>
					<td class="tdTextCenter border bgLightblue"><span id="budget<%=i %>"><%=curBudget %></span>万/<%=curBudgetPercent %></td>
					
				</tr>
				<% }%>
				
			</table>
			
			</div>
		</div>
	</div>
</div>

</body>
</html>

<script type="text/javascript">
	var category = [];
	var amount = [];
	var guide = [];
	var budget = [];
	var i = 0;
    while($('#amount'+i).html() != undefined)
    {
    	category.push($('#name'+i).html());
    	amount.push($('#amount'+i).html());
    	
    	guide.push($('#guide'+i).html());
    	budget.push($('#budget'+i).html());
    	i++;
    }
    var analyzeType = "主题分析";
	switch('<%=budgetType%>')
	{
		case 'SerialOrderBudget':
			analyzeType = "主题分析";
			break;
		case 'TypeOrderBudget':
			analyzeType = "款别分析";
			break;
		case 'ClassOrderBudget':
			analyzeType = "品类分析";
			break;
		case 'MucaiOrderBudget':
			analyzeType = "波段分析";
			break;
		case 'PricezoneOrderBudget':
			analyzeType = "价格带分析";
			break;
	}



    require.config({
        paths: {
            echarts: './javascripts/echarts/build/dist/'
        }
    });
    function bar()
    {
    require(
    [
        'echarts',
        'echarts/chart/line',   // 按需加载所需图表，如需动态类型切换功能，别忘了同时加载相应图表
        'echarts/chart/bar',
        'echarts/chart/pie'
    ],
    function (ec) {
        var myChart = ec.init(document.getElementById('main'));
        

        var option = {
	    title : {
	        text: analyzeType,
	        subtext: ''
	    },
	    tooltip : {
	        trigger: 'axis'
	    },
	    legend: {
	        data:['订货','指引','预算']
	    },
	    toolbox: {
	        show : false,
	        feature : {
	            mark : {show: true},
	            dataView : {show: true, readOnly: false},
	            magicType : {
	            	show: true, 
	            	type: ['line', 'bar', 'pie'],
	            	option: null
	            },
	            restore : {show: true},
	            saveAsImage : {show: true}
	        }
	    },
	    calculable : true,
	    xAxis : [
	        {
	            type : 'category',
	            data : category
	        }
	    ],
	    yAxis : [
	        {
	            type : 'value'
	        }
	    ],
	    series : [
	        {
	            name:'订货',
	            type:'bar',
	            data:amount,
	            itemStyle : { normal: {label : {show: true, position: 'top'}}}
	        },
	        {
	            name:'指引',
	            type:'bar',
	            data:guide,
	            itemStyle : { normal: {label : {show: true, position: 'top'}}}
	        },
	        {
	            name:'预算',
	            type:'bar',
	            data:budget,
	            itemStyle : { normal: {label : {show: true, position: 'top'}}}
	        }
			    ]
			};                             
		        myChart.setOption(option);
		    }
		);
	}

	bar();

	var dataForPie = [];
	for(var i = 0 ;i<category.length;i++)
	{
		dataForPie.push({name:category[i],value:amount[i]});
	}
	

	function pie()
	{
		require(
	    [
	        'echarts',
	        'echarts/chart/line',   // 按需加载所需图表，如需动态类型切换功能，别忘了同时加载相应图表
	        'echarts/chart/bar',
	        'echarts/chart/pie'
	    ],
	    function (ec) {
	        var myChart = ec.init(document.getElementById('main'));

		var    option = {
	    title : {
	        text: analyzeType,
	        subtext: '',
	        x:'center'
	    },
	    tooltip : {
	        trigger: 'item',
	        formatter: "{a} <br/>{b} : {c} ({d}%)"
	    },
	    legend: {
	        orient : 'vertical',
	        x : 'left',
	        data:category
	    },
	    toolbox: {
	        show : false,
	        feature : {
	            mark : {show: true},
	            dataView : {show: true, readOnly: false},
	            magicType : {
	                show: true, 
	                type: ['pie', 'funnel'],
	                option: {
	                    funnel: {
	                        x: '25%',
	                        width: '50%',
	                        funnelAlign: 'left',
	                        max: 1548
	                    }
	                }
	            },
	            restore : {show: true},
	            saveAsImage : {show: true}
	        }
	    },
	    calculable : true,
	    series : [
	        {
	            name:'访问来源',
	            type:'pie',
	            radius : '55%',
	            center: ['50%', '60%'],
	            data:dataForPie
	        }
			    ]
			};
			                                    
			        myChart.setOption(option);
			    }
			);
	}    
	// pie();
</script>