<!DOCTYPE html>
<html>
<head>
	<title>易订宝</title>
	<meta charset="utf-8"/>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript" src="/javascripts/main.js" ></script>
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/ad.js"></script>
</head>
<body>
<div class="global">
	<% include nav %>
	<% include menu %>
	<% include searchColumn %>
	<div class="main">
		<div class="orderBudget">
			<div class="budgetLeft">
				
					<div class="budgetItem bgLightblue">项目内容</div>
					<div class="budgetItem bgLightblue"><a href="orderBudget?budgetType=SerialOrderBudget">主题预算</a></div>
					<div class="budgetItem bgLightblue"><a href="orderBudget?budgetType=MucaiOrderBudget">波段预算</a></div>
					<div class="budgetItem bgLightblue"><a href="orderBudget?budgetType=TypeOrderBudget">款别预算</a></div>
					<div class="budgetItem bgLightblue"><a href="orderBudget?budgetType=ClassOrderBudget">品类预算</a></div>
					<div class="budgetItem bgLightblue"><a href="orderBudget?budgetType=PricezoneOrderBudget">价格带预算</a></div>

			</div>
			<div class="budgetRight">
			<table class="orderBudget">
				<tr>
					<td class="tdTextCenter bgLightblue"><input class="pageSelect" name="budgetID"> </td>
					<td class="tdTextCenter bgLightblue">公司指引</td>
					<td class="tdTextCenter bgLightblue">自定义预算</td>
					<td class="tdTextCenter bgLightblue">预算占比</td>
				</tr>
				<tr>
					<td class="tdTextCenter border">总订货金额</td>
					<td class="tdTextCenter border"><%=userInfo[0]['GuideAmount'] %>万</td>
					<td class="tdTextCenter border"><input value="<%=userInfo[0]['BudgetAmount'] %>万" style="text-align:center"></td>
					<td class="tdTextCenter border">100%</td>
					
				</tr>
				<% var guidType = "SerialOrderGuide";
				switch(budgetType)
				{
					case 'SerialOrderBudget':
						guidType = "SerialOrderGuide";
						break;
					case 'TypeOrderBudget':
						guidType = "TypeOrderGuide";
						break;
					case 'ClassOrderBudget':
						guidType = "ClassOrderGuide";
						break;
					case 'MucaiOrderBudget':
						guidType = "MucaiOrderGuide";
						break;
					case 'PricezoneOrderBudget':
						guidType = "PricezoneOrderGuide";
						break;
				}
				var budget = userInfo[0][budgetType].split(',');

				var guide = guideInfo[0][guidType].split(',');
				
				for(var i = 0;i<budget.length;i++)
				{
					budget[i] = budget[i].split(':');
					var curBudgetPercent = budget[i][1];
					budget[i][1] =  budget[i][1].substr(0,budget[i][1].length-1);
					
					var curBudget = Math.round(Number(budget[i][1])/100 * userInfo[0]['BudgetAmount']);
					var curBudgetName = budget[i][0];
					var curGuidePercent = "";
					for(var j = 0;j<guide.length;j++)
					{
						if(guide[j].split(':')[0] == budget[i][0] )
						{
							curGuidePercent = guide[j].split(':')[1];
							break;
						}
					}
					
					
				%>
				<tr>
					
					<td class="tdTextCenter border"><%=curBudgetName %></td>
					<td class="tdTextCenter border"><%=curGuidePercent %></td>
					<td class="tdTextCenter border"><%=curBudget %>万</td>
					<td class="tdTextCenter border"><%=curBudgetPercent %></td>
					
				</tr>
				<% }%>
				
			</table>
			<div id="save" style="text-align:center">保存</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
