<div class="rank">
	<form method="GET" action="<%=curPage %>">

	<%  var selectBrand = ["全部品牌","品牌A","品牌B"];
	    var selectProductType = ["全部款别","必定","推广","普通","基本"];
	    var selectMucai = ["全部波段","第一波","第二波","第三波","第四波","未定义","冬一波","冬二波","冬三波"];
	    var selectProductClass = ["全部品类","T恤类","衬衫类","休闲裤","牛仔裤","皮带等配件","鞋","上装","下装","配饰"];
	    var selectProductSerial = ["全部主题","B","A","未定义","甜美","心族","办公","度假"];
	    var selectOrderAmount = ["定量排序","定量up","定量down"];
	    var selectOrderNumber = ["编号排序","编号up","编号down"]; %>
	<div class="rankByBrand">
		<select class="selectMain" name="Brand" onchange="submit()">
		<% for(var i = 0;i<selectBrand.length;i++){ %>
			<option value =<%=selectBrand[i] %> <% if(selectBrand[i] == reqBrand){%> selected="selected" <%} %>  ><%=selectBrand[i] %></option>
		<% } %>
			
		</select>
	</div>
	<div class="rankByProductType">
		<select class="selectMain" name="ProductType" onchange="submit()">
			<% for(var i = 0;i<selectProductType.length;i++){ %>
			<option value =<%=selectProductType[i] %> <% if(selectProductType[i] == reqProductType){%> selected="selected" <%} %>  ><%=selectProductType[i] %></option>
		<% } %>

		</select>
	</div>
	<div class="rankByMucai">
		<select class="selectMain" name="Mucai" onchange="submit()">
			<% for(var i = 0;i<selectMucai.length;i++){ %>
			<option value =<%=selectMucai[i] %> <% if(selectMucai[i] == reqMucai){%> selected="selected" <%} %>  ><%=selectMucai[i] %></option>
		<% } %>
		</select>
	</div>
	<div class="rankByProductClass">
		<select class="selectMain" name="ProductClass" onchange="submit()">
			<% for(var i = 0;i<selectProductClass.length;i++){ %>
			<option value =<%=selectProductClass[i] %> <% if(selectProductClass[i] == reqProductClass){%> selected="selected" <%} %>  ><%=selectProductClass[i] %></option>
		<% } %>
		</select>
	</div>
	<div class="rankByProductSerial">
		<select class="selectMain" name="ProductSerial" onchange="submit()">
			<% for(var i = 0;i<selectProductSerial.length;i++){ %>
			<option value =<%=selectProductSerial[i] %> <% if(selectProductSerial[i] == reqProductSerial){%> selected="selected" <%} %>  ><%=selectProductSerial[i] %></option>
		<% } %>
		</select>
	</div>
	<div class="rankByOrderAmount">
		<select class="selectMain" name="OrderAmount"  onchange="submit()">
			<% for(var i = 0;i<selectOrderAmount.length;i++){ %>
			<option value =<%=selectOrderAmount[i] %> <% if(selectOrderAmount[i] == reqOrderAmount){%> selected="selected" <% } %>  ><%=selectOrderAmount[i] %></option>
		<% } %>
			
		</select>
	</div>
	<div class="rankByOrderNumber">
		<select class="selectMain" name="OrderNumber" onchange="submit()">
			<% for(var i = 0;i<selectOrderNumber.length;i++){ %>
			<option value =<%=selectOrderNumber[i] %> <% if(selectOrderNumber[i] == reqOrderNumber){ %> selected="selected" <%} %>  ><%=selectOrderNumber[i] %></option>
		<% } %>
		</select>
		
	</div>
	
	<!-- <a href="orderByStyle" > 主页</a> -->
	<div class="searchByProductCode">
		
	<input type="text" class="searchInput" name="ProductCode" value="<%=reqProductCode %>" required="required" placeholder="输入货号" >
	<input type="submit" value="搜索" class="searchButton">

	</div>
	</form>
</div>